body{
    background-color: darkgray;
    width: 800px;
    margin: auto;
}


h1 {
color:rgb(25, 0, 255);
text-align: center;
}

img{
width:450px;
height: 300px;
display: block;
margin: auto;
}
p{
text align: center;
}